# Database
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=digital
DB_USERNAME=root
DB_PASSWORD=password

# Mail
MAIL_HOST=smtp.163.com
MAIL_USERNAME=example@163.com
MAIL_PASSWORD=password

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=password

# MongoDB
MONGODB_URI=mongodb://user:password@127.0.0.1:27017/digital_chat?authSource=admin

# Wx MP
WX_MP_TOKEN=xxx
WX_MP_AES_KEY=xxx
WX_MP_APP_ID=xxx
WX_MP_SECRET=xxx

# Wx Open
WX_OPEN_APP_ID=xxx
WX_OPEN_APP_SECRET=xxx

# COS
COS_ACCESS_KEY=xxx
COS_SECRET_KEY=xxx
COS_REGION=xxx
COS_BUCKET=xxx

# Silicon Flow
SILICON_FLOW_API_KEY=xxx

# Minio
MINIO_ENDPOINT=http://127.0.0.1:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password
MINIO_BUCKET=digital

# Doubao
DOUBAO_API_KEY=xxx
DOUBAO_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
DOUBAO_MODEL=doubao-1-5-lite-32k-250115

# Milvus
MILVUS_HOST=127.0.0.1
MILVUS_PORT=19530

# DeepSeek
DEEPSEEK_API_KEY=xxx
DEEPSEEK_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
DEEPSEEK_MODEL=deepseek-v3-1-terminus

# Kimi
KIMI_API_KEY=xxx
KIMI_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
KIMI_MODEL=kimi-k2-250905

# Dify
DIFY_API_KEY=xxx
DIFY_BASE_URL=https://api.dify.ai/v1
DIFY_WORKFLOW_ID=xxx

# Bailian
BAILIAN_API_KEY=xxx
BAILIAN_BASE_URL=https://bailian.cdut.edu.cn/cre_llm
BAILIAN_APP_ID=xxx

# HuggingFace
HF_ASR_API_KEY=hf_xxx
HF_ASR_MODEL=openai/whisper-large-v3
HF_ASR_BASE_URL=https://router.huggingface.co

